.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 320px;
  height: 100%;
  background-color: var(--color-surface);
  border-right: 1px solid var(--color-border);
  overflow-y: auto;
}

.main {
  flex: 1;
  height: 100%;
  overflow: hidden;
}